

.page.row {
    
    margin-right: 2%;
    margin-top: 5%;
    
}


.signintext {
    margin-right: 20% !important;
    margin-left: 20% !important;
    color: #969799
}

.page.top {
    color: #64C97D
}

.page.btn {
    width: 30%;
    margin-bottom: 5%;
    margin-right: 50px;
    border-radius: 20px
}

.page.ForgotPassBtn {
    background-color: white;
    color: black;
    border-bottom: 1px solid #c7c5c5;
    padding-bottom: 3px;
    text-decoration: none !important;
    margin-right: 20%;
    border-top-color: none
}

.page.LoginBtn {
    border-radius: 25px;
    background-image: url(http://i.imgur.com/S4zmPRw.png);
    border: none
}

.signupbtn {
    border-radius: 25px;
    width: 35%;
    margin: auto;
    background-image: url(http://i.imgur.com/S4zmPRw.png);
    border: solid 1px white;
    font-size: 20px
}

.page.form1 {
    padding: 0;
    margin-left: 15%
}

.signin {
    background-color: transparent;
    
    /*background-color: rgb(189, 168, 168);*/
    padding: 2%;
    margin: auto
}

.signup {
   /* background-image: url(http://i.imgur.com/S4zmPRw.png);*/
   background-image: url("../components/images/people.jpg");
   background-repeat:"no-repeat";
   
    padding: 2%
}
.admin {
    /* background-image: url(http://i.imgur.com/S4zmPRw.png);*/
    background-image: url("../components/images/admin-app-management.jpg");
    background-repeat:"no-repeat";
    background-size: "100%";
     padding: 2%
 }

.page.form-control {
    width: 70%;
    margin-bottom: 5%;
    margin-top: 5%;
    /*background-color: #ebe8e88*/
}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #0c0c0c;
  }

 .button5:hover {
    background-color: #181717;
    color: white;
    border: 2px solid #f7f3f3;
  }

.page.custom-control {
    margin-bottom: 2%
}

.page.h2 {
    color: rgb(32, 31, 31) !important;
    font-weight: 200px;
    margin-top: 30%;
    margin-bottom: 10%
}
.h31{
    text-shadow: 2px 2px 4px #000000;
}

.page.SignupText {
    color: #fff;
    margin-bottom: 15%;
    font-size: 16px;
    font-weight: 10px !important;
    font-family: Garamond
}

@media only screen and (max-width: 600px) {
    row {
        margin-top: 5%;
        margin-left: 1%;
        margin-right: 1%
    }
}

.page.input,
.page.input:focus {
    border-color: black;
    border-width: 1px;
    outline: 2px;
    -webkit-appearance: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}

.social-btn .btn {
    color: #fff;
    margin: 8px 0 0 30px;
    font-size: 15px;
    width: 45px;
    height: 40px;
    line-height: 25px;
    border-radius: 50%;
    font-weight: normal;
    text-align: center;
    border: solid 0.5px grey;
    transition: all 0.4s
}

