.App {
  text-align: center;
  background-image:url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fweb.dev%2Fcontact-picker%2F&psig=AOvVaw00ldxl6bz_ZS8csDMbBOyc&ust=1610792081013000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJCL5aHane4CFQAAAAAdAAAAABAa") ;
  position: fixed;
  min-width: 100%;
  background-size: cover;
  background-position: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
